
:root {
    --bg-color: #19181b;
    --fg-color: #6081d2;
    --ex-color: #ff0000;
    --border: 1px solid #374577;
    --net-width: 480px;
    --cell-height: 44px;
    --cursor-pad: 5px;
    --title-initial-font-size: 2em;
    --title-final-font-size: 3em;
}

@keyframes blinker {
    50% { opacity: 0; }
}

@font-face {
    font-family: 'broken15';
    src: url('assets/broken15.ttf');  /* taken from https://www.fontsquirrel.com/fonts/broken-15 */
}

h1 {
    font-weight: normal;
}

body {
    font-family: 'broken15', serif;
    margin: 1em 0 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-size: 30pt;
}

header, section, footer {
    margin: 20px auto auto;  /* center it horizontally */
    width: var(--net-width);
    overflow: hidden;  /* adjust height to contain floating children http://stackoverflow.com/a/7817313/778272 */
}

header {
    height: 2.5em;
}

.hidden {
    display: none;
}

.digits-row td {
    position: relative;
    z-index: -1;
    top: 0;

    transition: top 2s ease 0.3s;
}

.digits-row-slide-up td {
    top: calc(-1 * var(--cell-height) - 6px);
}

.digit-cell {
    position: relative;
    z-index: -1;
    top: 0;

    transition: top 2s ease 0.3s;
}

.digit-cell-slide-up {
    top: calc(-1 * var(--cell-height) - 6px);
}

.footnote {
    font-family: monospace;
    font-size: 7pt;
    font-style: italic;
}

.good-guess {
    color: green;
}

.bad-guess {
    color: #ce2222;
}

.redundant-guess {
    color: gray;
    font-style: italic;
}

#game-title {
    /* center horizontally */
    left: 50%;
    transform: translateX(-50%);

    /* detach from page so animation won't push the rest of the page down */
    margin: 0;
    position: absolute;

    /* prepare for javascript animation routine */
    color: var(--fg-color);
    font-size: var(--title-initial-font-size);
    transition-property: color, font-size;
    transition-duration: 1s;
}

#code-table {
    border: var(--border);
    width: var(--net-width);
    table-layout: fixed;  /* equal sized cells */
}

#code-table td {
    border: var(--border);
    text-align: center;
    background-color: var(--bg-color);
    height: var(--cell-height);
}

#board {
    border: var(--border);
    --padding: 10px;
    padding: var(--padding);
    width: calc(80% - 2 * var(--padding));  /* calc(var(--net-width) - 2 * var(--padding)); */
    margin: auto auto;  /* center it horizontally */
    text-align: left;
    font-family: serif;
    font-size: 16pt;
    float: left;
}

#board .console-cursor {
    margin-left: var(--cursor-pad);
    font-size: 10pt;
    animation: blinker 1s linear infinite;
}

#countdown {
    --padding: 10px;
    width: calc(20% - var(--padding));
    float: right;
    font-size: 110%;
}

#board-console-input {
    margin-left: var(--cursor-pad);
}

#board-history {
    /*clear: left;*/
}
